<html>
<head>
	<title>Mainten Page</title>
	<?php echo link_tag('assets/global/plugins/font-awesome/css/font-awesome.min.css'); ?>
	<style type="text/css">
		body{
			background:#333; ?>);
			background-position: top center;
		}
	</style>
</head>
<body>
	<p style='color:white;margin:100px 0 0 100px;font-family:arial;font-size:4em;'>
		<i class="fa fa-wrench" style='font-size:4em;'></i> <img src="<?=site_url()?>image/triple-gears-loading-icon.gif">
		<br/>Maintenace on progress... 
	</p>
</body>
</html>